.doc {
    max-width: 900px;
    margin: 0 auto;
    padding: 64px 24px 120px;
}

@media (max-width: 1023px) {
    .doc { padding: 48px 22px 96px; }
}

@media (max-width: 767px) {
    .doc { padding: 32px 18px 80px; }
}
