@page "/"

<PageTitle>Home</PageTitle>

<h2 class="name">Nabil Sidhoum</h2>

<p class="title">Architecte Logiciel .NET</p>

<div class="description-title">À propos de moi </div>
<p class="description">
    Je suis Nabil Sidhoum, architecte logiciel spécialisé .NET et expert des environnements Microsoft, avec plus de 10 ans d’expérience dans la conception et le développement d’applications complexes.
    Passionné par l’architecture logicielle, je conçois des solutions robustes, évolutives et maintenables, en mettant l’accent sur la qualité du code, le respect des bonnes pratiques et la transmission du savoir au sein des équipes.
    <br /> 
    <br />
    Mon expertise couvre l’ensemble du cycle de vie applicatif : conception et développement back-end en ASP.NET / EF Core, définition de l’architecture, automatisation des processus, intégration continue et mise en production. Je combine pragmatisme et rigueur technique pour structurer des projets durables et performants.
    <br />  
    <br />
    Aujourd’hui, je mets ces compétences au service de projets à forte valeur ajoutée, tout en gardant une veille technologique active et un niveau d’exigence élevé en matière de qualité logicielle.
</p>
